<div class="mypageWrapPadding" layout="row" layout-align="center">
    <div flex="40" flex-sm="100" flex-md="60"
         class="md-whiteframe-z1 ">
        <div layout-padding>
            <div layout="row" layout-align="center">
                <h2 ng-if="vm.settingsAccount.name === null">{{vm.settingsAccount.email}}님의
                    비밀번호 변경</h2>

                <h2 ng-if="vm.settingsAccount.name !== null">{{vm.settingsAccount.name}}님의
                    비밀번호 변경</h2>
            </div>

            <form name="form" role="form" ng-submit="vm.getChangePassword()">
                <div layout="row" layout-align="center">
                    <md-input-container class="margin-bottom-30" flex="50" flex-md="75"
                                        flex-sm="100">
                        <label for="password">비밀번호</label>
                        <input
                            type="password" id="password" name="password" ng-model="vm.password" ng-minlength=5
                            ng-maxlength=50 required pattern="^[A-Za-z0-9]*$">

                        <div ng-messages="form.password.$error" role="alert">
                            <div ng-message="required">빈칸은 용납하지 않습니다...!</div>
                            <div ng-message="minlength">최소 5자리 이상이요!</div>
                            <div ng-message="maxlength">50자리 다 외울 수 있어요?</div>
                            <div ng-message="pattern">특수문자는 허용되지 않습니다!</div>
                        </div>
                    </md-input-container>
                </div>

                <div layout="row" layout-align="center">
                    <md-input-container class="margin-bottom-30" flex="50" flex-md="75"
                                        flex-sm="100">
                        <label for="confirmPassword">비밀번호 확인</label>
                        <input
                            type="password" id="confirmPassword" name="confirmPassword" ng-model="vm.confirmPassword"
                            ng-minlength=5 ng-maxlength=50 required pattern="^[A-Za-z0-9]*$">

                        <div ng-messages="form.confirmPassword.$error" role="alert">
                            <div ng-message="required">빈칸은 용납하지 않습니다...!</div>
                            <div ng-message="minlength">최소 5자리 이상이요!</div>
                            <div ng-message="maxlength">50자리 다 외울 수 있어요?</div>
                            <div ng-message="pattern">특수문자는 허용되지 않습니다!</div>
                        </div>
                    </md-input-container>
                </div>

                <div layout="row" layout-align="center">
                    <md-button class="md-raised" ng-disabled="form.$invalid">변경</md-button>
                </div>
            </form>
        </div>
    </div>
</div>

