<div layout-padding>
    <div layout="row" layout-align="center">
        <h3 ng-if="settingsAccount.name === null">{{settingsAccount.email}}님의
            비밀번호 변경</h3>

        <h3 ng-if="settingsAccount.name !== null">{{settingsAccount.name}}님의
            비밀번호 변경</h3>
    </div>

    <div layout="row" layout-align="center">
        <div class="alert alert-success" ng-show="success">
            <strong>비밀번호가 변경되었습니다.</strong>
        </div>
    </div>
    <div layout="row" layout-align="center">
        <div class="alert alert-danger" ng-show="error">
            <strong>비밀번호가 변경되지 않았습니다!</strong>다시 시도해주세요 ㅜ.ㅜ
        </div>
    </div>

    <div layout="row" layout-align="center">
        <div class="alert alert-danger" ng-show="doNotMatch">비밀번호가 일치하지
            않습니다.
        </div>
    </div>

    <form name="form" role="form" ng-submit="changePassword()">
        <div layout="row" layout-align="center">
            <md-input-container class="margin-bottom-30" flex="50" flex-md="75"
                                flex-sm="100">
                <label  for="password">비밀번호</label>
                <input
                type="password"id="password" name="password" ng-model="password" ng-minlength=5
                ng-maxlength=50 required>

                <div ng-messages="form.password.$error"
                     ng-show="form.password.$dirty && form.password.$invalid"
                     role="alert">
                    <p ng-message="required">비밀번호는 필수죠?</p>

                    <p ng-message="minlength">최소 5자리 이상이요!</p>

                    <p ng-message="maxlength">50자리 다 외울 수 있어요?</p>
                </div>
            </md-input-container>
        </div>

        <div layout="row" layout-align="center">
            <md-input-container class="margin-bottom-30" flex="50" flex-md="75"
                                flex-sm="100">
                <label for="confirmPassword">비밀번호 확인</label>
                <input
                type="password"id="confirmPassword" name="confirmPassword" ng-model="confirmPassword"
                ng-minlength=5 ng-maxlength=50 required>

                <div ng-messages="form.confirmPassword.$error"
                     ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid"
                     role="alert">
                    <p ng-message="required">빈칸은 용납하지 않습니다...!</p>

                    <p ng-message="minlength">최소 5자리 이상이요!</p>

                    <p ng-message="maxlength">50자리 다 외울 수 있어요?</p>
                </div>
            </md-input-container>
        </div>

        <div layout="row" layout-align="center">
            <md-button class="md-raised" ng-disabled="form.$invalid">변경</md-button>
        </div>
    </form>
</div>
