<div class="partnersWrap" layout="row" layout-align="center">
    <div flex role="tabpanel">
        <div class="md-whiteframe-z1" layout="row" flex role="tablist"
             ng-if="vm.stateConfirmAdmin===-1">
            <md-button ui-sref="adminRegManage"
                       ui-sref-active="btn-material-light-blue-700" role="tab"
                       class="adminLegend noPaddingMargin" flex>등록관리
            </md-button>
            <md-button ui-sref="adminUserManage"
                       ui-sref-active="btn-material-light-blue-700" role="tab"
                       class="adminLegend noPaddingMargin" flex>예약회원관리
            </md-button>
        </div>
        <div class="md-whiteframe-z1" layout="row" flex role="tablist"
             ng-if="stateConfirm===1">
            <md-button ui-sref="allPartners" role="tab"
                       class="adminLegend noPaddingMargin" flex>제휴사관리
            </md-button>
        </div>
        <div ui-view="regManage"></div>
        <div ui-view="userManage"></div>
    </div>
</div>
