<div layout="row" layout-align="center"
     style="margin-top: 8px;">
    <div flex="100" class="md-whiteframe-z1 mypage-section">
        <div layout="row">
            <div class="directButton prev" layout="row"
                 layout-align="center center" flex="5" show-sm show-md show-lg hide
                 role="button">
                <i class="glyphicon glyphicon-triangle-left"></i>
            </div>
            <div flex="90" flex-gt-lg="100">
                <ul id="tableTypeLegend" class="tableTab"
                    style="border-bottom: 0;" role="tablist">

                    <li ng-class="vm.navigationState==={{$index}}?'selected':''"
                        role="tab" ng-repeat="day in vm.dayArry">
                        <div class="dateButton"
                             ng-click="vm.selected_day($index)">
                            <span>{{day.month}}/{{day.date}}/{{day.day}}</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="directButton next" layout="row"
                 layout-align="center center" flex="5" show-sm show-md show-lg hide
                 role="button">
                <i class="glyphicon glyphicon-triangle-right"></i>
            </div>
        </div>
        <table class="table table-hover footable table-striped">
            <thead>
            <tr>
                <th>클래스 이름</th>
                <th data-hide="phone,tablet">업체 이름</th>
                <th>시간</th>
                <th data-hide="phone">클래스 강사</th>
                <th data-hide="phone,tablet">주소</th>
                <th data-hide="phone,tablet">클래스 예약하기</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="actionSchedule in vm.actionScheduleList"
                ng-show="vm.actionScheduleList.length>0 || vm.error === false">
                <td><a class="weight_4"
                       ui-sref="actionListDetail({id:actionSchedule.action.id})">{{actionSchedule.action.title}}</a>
                </td>
                <td>{{actionSchedule.club.name}}</td>
                <td class="moreButtonWrap mobile">{{actionSchedule.startTime |
                    date:"HH : mm"}} ~ {{actionSchedule.endTime | date:"HH : mm"}}
                    <div class="moreButton mobile footable-toggle">자세히</div>
                </td>
                <td class="moreButtonWrap tablet">{{actionSchedule.instructor.name}}
                    <div class="moreButton tablet footable-toggle">자세히</div>
                </td>
                <td>{{actionSchedule.club.addressSimple}}</td>
                <td>
                    <reservation-register
                        schedule-id="{{actionSchedule.id}}" user-id="{{vm.account.id}}"
                        user-status="{{vm.account.registerStatus}}" user-roles="{{vm.account.roles}}"
                        year="{{vm.dayArry[vm.navigationState].year}}"
                        month="{{vm.dayArry[vm.navigationState].month}}"
                        date="{{vm.dayArry[vm.navigationState].date}}"
                        hour="{{actionSchedule.startTime | date:'HH'}}"
                        minute="{{actionSchedule.startTime | date:'mm'}}"
                        reservation-close="{{actionSchedule.club.reservationClose}}">
                    </reservation-register>
                </td>
            </tr>
            <tr ng-show="vm.actionScheduleList.length===0 || vm.error ===true">
                <td colspan="6">
                    <div ng-show="mpc" layout="row" layout-align="center center">
                        <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
                    </div>
                    <div ng-show="!mpc" layout="row" layout-align="center center">등록된
                        스케줄이 없습니다
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<nav ng-if="vm.actionScheduleList.length>0" layout="row"
     layout-align="center">
    <ul class="pagination md-whiteframe-z1">
        <li ng-show="vm.links['first']"
            ng-click="vm.loadPage(vm.links['first'],vm.navigationState,vm.queryPrams)">
            <a> <i class="glyphicon glyphicon-backward"></i>
            </a>
        </li>
        <li ng-show="vm.links['prev']"
            ng-click="vm.loadPage(vm.links['prev'],vm.navigationState,vm.queryPrams)">
            <a>
                <i class="glyphicon glyphicon-triangle-left"></i>
            </a></li>
        <li ng-show="vm.page > 2"
            ng-click="vm.loadPage(vm.page - 2,vm.navigationState,vm.queryPrams)"><a>{{vm.page
            - 2}}</a></li>
        <li ng-show="vm.page > 1"
            ng-click="vm.loadPage(vm.page - 1,vm.navigationState,vm.queryPrams)"><a>{{vm.page
            - 1}}</a></li>
        <li class="active"><a>{{vm.page}}</a></li>
        <li ng-show="vm.page < vm.links['last']"
            ng-click="vm.loadPage(vm.page + 1,vm.navigationState,vm.queryPrams)">
            <a>{{vm.page + 1}}</a>
        </li>
        <li ng-show="vm.page < vm.links['last'] - 1"
            ng-click="vm.loadPage(vm.page + 2,vm.navigationState,vm.queryPrams)">
            <a>{{vm.page + 2}}</a>
        </li>
        <li ng-show="vm.links['next']"
            ng-click="vm.loadPage(vm.links['next'],vm.navigationState,vm.queryPrams)">
            <a>
                <i class="glyphicon glyphicon-triangle-right"></i>
            </a></li>
        <li ng-show="vm.links['last']"
            ng-click="vm.loadPage(vm.links['last'],vm.navigationState,vm.queryPrams)">
            <a>
                <i class="glyphicon glyphicon-forward"></i>
            </a></li>
    </ul>
</nav>
