<div class="actionListWrap">
    <section ng-if="vm.stateConfirmRegister" auto-height outer-xs-number="1"
             outer-sm-number="1" outer-md-number="1" outer-lg-number="1"
             no-max-width="true" no-margin="true" outer-ratio="0.18"
             class="breadcrumbsWrap boxShadow-1">
        <img auto-height outer-xs-number="1" outer-sm-number="1"
             outer-md-number="1" outer-lg-number="1" no-max-width="true"
             no-margin="true" outer-ratio="0.18" alt="breadcrumbs img"
             ng-src="images/breadcrumbs/bc_{{vm.selectImg}}.jpg">
    </section>
    <section ng-if="!vm.stateConfirmRegister" class="breadcrumbs">
        <div layout="row" layout-align="center center">
            <div class="intro">
                <div class="up">
                    <div>블루패스 하나면</div>
                    <div>이 모든걸 다 이용할 수 있어~</div>
                </div>
                <!-- <div class="down">고급 피트니스 프리패스, 블루패스</div> -->
            </div>
        </div>
        <div layout="row" layout-align="center center">
            <md-button class="logupButton" ui-sref="register">가입하기</md-button>
        </div>
    </section>
    <div class="topMenu" layout="row" layout-wrap>
        <!--운동종목-->
        <aside layout="row" flex="100">
            <div class="prev1" flex layout="row" layout-align="center center">
                <i class="glyphicon glyphicon-triangle-left"></i>
            </div>
            <div flex="90" id="owlExerciseType">
                <div ng-click="vm.queryPrams.exerciseType='all'">
                    <md-button class="no-margin"
                               ng-class="vm.queryPrams.exerciseType==='all'?'selected':''">모두 보기
                    </md-button>
                </div>
                <div ng-repeat="exercise in vm.exerciseTypeList"
                     ng-click="vm.queryPrams.exerciseType=exercise.option1">
                    <md-button class="no-margin"
                               ng-class="vm.queryPrams.exerciseType==='{{exercise.option1}}'?'selected':''">
                        {{exercise.value}}
                    </md-button>
                </div>
            </div>
            <div class="next1" flex layout="row" layout-align="center center">
                <i class="glyphicon glyphicon-triangle-right"></i>
            </div>
        </aside>
        <!--시간-->
        <aside layout="row" flex="100">
            <div flex="45" ng-show="vm.queryPrams.timeTypeOn">
                <md-select class="no-margin" ng-model="vm.queryPrams.timeType.startTime"
                           aria-label="startTime select">
                    <md-option
                        value="{{time.value}}" ng-repeat="time in vm.startTimeArry"
                        ng-click="vm.startTimeSelected=time.index">{{time.title}}
                    </md-option>
                </md-select>
            </div>
			<span class="weight_5" flex="10" layout="row"
                  layout-align="center center" ng-show="vm.queryPrams.timeTypeOn">-</span>

            <div flex="45" ng-show="vm.queryPrams.timeTypeOn">
                <md-select class="no-margin" ng-model="vm.queryPrams.timeType.endTime"
                           aria-label="endTime select">
                    <md-option
                        value="{{time.value}}" ng-repeat="time in vm.endTimeArry"
                        ng-click="vm.endTimeSelected=time.index">{{time.title}}
                    </md-option>
                </md-select>
            </div>
        </aside>
    </div>
    <!-- 클래스&스케줄 리스트-->
    <section class="actionList">
        <div ui-view="imgtype"></div>
        <div ui-view="tabletype"></div>
    </section>
    <!-- 클래스&스케줄 리스트 끝-->
</div>
